@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutSales.cshtml";
}
<!-- container-slide -->
<div class="uk-container-center uk-width-medium-3-4">

    <!-- mobile-navbar -->
    <nav class="uk-navbar uk-margin-large-bottom uk-hidden-large ">
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
    </nav>
    <!-- end-mobile-navbar -->
    <!-- container-slide-container -->
    <div class="uk-grid uk-margin-right uk-margin-small-left uk-margin-large-top uk-margin-large-bottom" data-uk-grid-margin="">

        <!-- form-pengisian-barang -->
        <div class="uk-width-medium-1-1">



            <!-- bar-char -->

            <div class="uk-width-medium-1-1 uk-panel-box cs-bar-char cs-remove-background">

                <h2><p>Data Penjualan Kelompok</p></h2>
                <hr class="uk-grid-divider">
                <div class="uk-width-1-1">

                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <!-- end-bar-char -->

            <h2><p>Penjualan Produk Di Toko</p></h2>
            <hr class="uk-grid-divider">
            <div class="uk-grid uk-margin-right uk-margin-small-left uk-margin-large-top" data-uk-grid-margin="">

                <!-- target-bandung-barat -->
                <div class="uk-width-medium-1-4">
                    <div class="uk-panel uk-panel-box cs-targeted-numb cs-remove-background cs-border">
                        <p>Target <br><br><br> <span id="num">0</span>/1000</p>
                        <h2 class="">Toko Barat</h2>
                    </div>
                </div>
                <!-- end-target-bandung-barat -->
                <!-- target-bandung-timur -->
                <div class="uk-width-medium-1-4">
                    <div class="uk-panel uk-panel-box cs-targeted-numb cs-remove-background cs-border">
                        <p>Target <br><br><br> <span id="num1">0</span>/1000</p>
                        <h2 class="">Toko Barat</h2>
                    </div>
                </div>
                <!-- end-target-bandung-barat -->
                <!-- target-bandung-tengah -->
                <div class="uk-width-medium-1-4">
                    <div class="uk-panel uk-panel-box cs-targeted-numb cs-remove-background cs-border">
                        <p>Target <br><br><br> <span id="num2">0</span>/1000</p>
                        <h2 class="">Toko Tengah</h2>
                    </div>
                </div>
                <!-- end-target-bandung-barat -->
                <!-- target-bandung-Selatan -->
                <div class="uk-width-medium-1-4">
                    <div class="uk-panel uk-panel-box cs-targeted-numb cs-remove-background cs-border">
                        <p>Target <br><br><br> <span id="num3">0</span>/1000</p>
                        <h2 class="">Toko Selatan</h2>
                    </div>
                </div>

                <!-- end-target-bandung-barat -->

            </div>
            <h2><p>Target Tahunan</p></h2>
            <hr class="uk-grid-divider">
            <div class="uk-grid uk-margin-large-bottom" data-uk-grid-margin="">

                <div class="uk-width-medium-1-4 uk-push-1-4 uk-text-center cs-box-target-year">
                    <div class="">
                        <span class="chart cs-box-percent uk-margin-large-top" data-percent="50" id="chart3">
                            <span class="percent"></span>
                        </span>

                    </div>
                </div>

                <div class="uk-width-medium-1-4 uk-push-1-4 uk-text-center ">
                    <div class="">
                        <h1 class="uk-margin-bottom-remove uk-margin-large-top cs-font">TARGET / </h1>
                        <h1 class="cs-font">YEAR</h1>
                    </div>
                </div>

            </div>
            <!-- end-container-slide -->
        </div>
    </div>




